.section{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    margin-bottom: 5rem;
}
.mainTitle{
    text-align: center;
    font-size: 3rem;
    margin: 0;
}
.secondTitle{
    text-align: center;
    font-size: 2.5rem;
    margin: 0;
    margin-bottom: 2rem;
    color: #fff;
    text-shadow: -1px 0 #333, 0 1px #333, 1px 0 #333, 0 -1px #333;
}
.imgWrap{
    height: 17em;
    border: 2px solid rgb(63, 63, 63);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img{
    box-sizing: border-box;
    padding: 1rem;
    margin: 0;
    width: 100%;
    height: 100%;
}
.mainDesc{
    box-sizing: border-box;
    margin-top: 2rem;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
}
.button{
    border: none;
    font-size: 0.8rem;
    padding: 0.5rem;
    border-radius: 3rem;
    color: white;
    background-color: rgb(6, 82, 204);
    cursor: pointer;
    transition: all 0.4s;
    font-weight: bold;
}
.button:hover{
    color:rgb(6, 82, 204);
    background-color: rgb(208, 208, 208);
}