.footer{
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem 0 0.5rem 0 ;
    text-align: center;
    background-color: rgba(1, 86, 255, 0.05);
}
.span{
    font-weight: bold;
}
.p{
    font-size: 0.9rem;
    cursor: pointer;
}
